<div class="white" id="about">
    <div class="body">
        <h1>O akci</h1>
        <div class="grid3">
            <div class="cell">
                <img src="assets/images/about_us.png" alt="O co jde">
                <h2>O co jde?</h2>
                <p>
                    Škola v přírodě je tradiční výjezdní seminář určený nejen pro studenty Katedry algebry MFF UK. Odbornou část programu tvoří přednášky studentů a (zahraničních) hostů na zajímavá témata v angličtině, postřehy odborníků z praxe i diskuze s absolventy. Najde se však i čas pro sportovní aktivity v okolní přírodě.
                </p>
            </div>
            <div class="cell">
                <img src="assets/images/calendar.png" alt="Kde a kdy?">
                <h2>Kde a kdy?</h2>
                <p>
                    Letos se akce koná od čtvrtka 27. do neděle 30. března 2025. Sejdeme se v Boudě Zvonařka ve Strážném, v Krkonoších.
                </p>
            </div>
            <div class="cell">
                <img src="assets/images/team.png" alt="Pro koho je určena?">
                <h2>Pro koho je určena?</h2>
                <p>
                    Pro studenty magisterského a doktorského studia a dále pro aktivní studenty třetího ročníku bakalářského studia na Katedře algebry MFF UK, pro hosty z příbuzných oborů a z partnerských institucí, srdečně jsou zváni všichni členové Katedry algebry.
                </p>
            </div>
            <div class="cell">
                <img src="assets/images/lecture.png" alt="Přednášky účastníků">
                <h2>Přednášky účastníků</h2>
                <p>
                    Odborný program tvoří přednášky o délce 25 - 40 minut účastníků na vybraná témata. Přednáška a následná diskuze probíhají obvykle v angličtině (pokud trváte na češtině, napište na <a href="mailto:skolavprirode@karlin.mff.cuni.cz">mail</a>). Mít přednášku je povinné pro studenty bakalářského a magisterského studia.
                    Je třeba, aby si každý přednášející s předstihem připravil krátký abstrakt o rozsahu 5-10 řádků (prostý text, lze použít základní LaTeXové příkazy) a zaslal ho <a href="mailto:kompatcher@karlin.mff.cuni.cz">Michaelovi Kompatcherovi</a>.
                </p>
            </div>

            <div class="cell">
                <img src="assets/images/math.png" alt="Témata přednášek">
                <h2>Témata přednášek</h2>
                <p>
                    Téma přednášky si volí účastníci sami, popř je možnost si nechat téma přidělit oblíbeným vyučujícím. Každopádně je třeba si téma nechat schválit u <a href="mailto:kompatcher@karlin.mff.cuni.cz">Michaela Kompatchera</a>. Stejně tak na něj směřujte všechny otázky ohledně přednášek. Obvyklá témata jsou v oblastech: algebra, geometrie, logika, kryptografie a teorie čísel.
                </p>
            </div>

            <div class="cell">
                <img src="assets/images/presentation.png" alt="Prezentační technika">
                <h2>Prezentační technika</h2>
                <p>
                    K dispozici bude notebook, na kterém bude přinejmenším nainstalován: TeX, AdobeAcrobat a LibreOffice (možná i Mathematica); dále bude k dispozici dataprojektor, přenosná tabule a fixy. Doporučujeme si připravit slidy ve formátu PDF.
                </p>
            </div>
        </div>
    </div>
</div>