<div class="white" id="about">
	<div class="body">
		<h1>
			{%- if page.lang == "cs" -%}
				O akci
			{%- else -%}
				About the Event
			{%- endif -%}
		</h1>
		<div class="grid3">
			<div class="cell">
				<img src="{{- 'assets/images/about_us.png' | rel_url -}}" alt="About us">
				{% lang_include about %}
			</div>
			<div class="cell">
				<img src="{{- 'assets/images/calendar.png' | rel_url -}}" alt="Calendar">
				{% lang_include where %}
			</div>
			<div class="cell">
				<img src="{{- 'assets/images/team.png' | rel_url -}}" alt="Team">
				{% lang_include who %}
			</div>
			<div class="cell">
				<img src="{{- 'assets/images/lecture.png' | rel_url -}}" alt="Lecture">
				{% lang_include participants %}
			</div>
			<div class="cell">
				<img src="{{- 'assets/images/math.png' | rel_url -}}" alt="Topics">
				{% lang_include topics %}
			</div>
			<div class="cell">
				<img src="{{- 'assets/images/presentation.png' | rel_url -}}" alt="Technics">
				{% lang_include technics %}
			</div>
		</div>
	</div>
</div>
