<div class="footer">
    <div class="row">
        <div class="column">
            <h1>Poděkování</h1>
            <p>
                Akce je pořádána pod záštitou <a href="https://www.mff.cuni.cz/cs/math/ka/katedra">Katedry algebry</a> <a href="https://www.mff.cuni.cz/">MFF UK</a> za finanční podpory projektu <a href="https://cuni.cz/UK-3362.html">SVV</a>.
            </p>
        </div>

        <div class="column">
            <h1>Sponzor</h1>
            <p>
                Děkujeme společnosti <a href="https://www.rsj.com/">RSJ</a> za finanční podporu.
            </p>
        </div>

        <div class="column">
            <h1>Autor</h1>
            <p>
                Tento web byl vytvořen <a href="https://chwiedziuk.cz/">Ondřejem Chwiedziukem</a> roku 2025.
            </p>
        </div>
</div>