<div class="frontpage">
    <img src="assets/images/banner-fall.jpg" alt="Banner", class="banner">
    <section class="front-text">
        <h1>ŠKOLA</h1>
        <h1>V PŘÍRODĚ</h1>
        <h2>KATEDRY</h2>
        <h2>ALGEBRY</h2>
        <p>27 - 30.</p>
        <p>BŘEZNA</p>
        <p>2025</p>
        <p>STRÁŽNÉ</p>
        <p>KRKONOŠE</p>

        <!-- <h1>ŠKOLA V PŘÍRODĚ</h1>
        <h2>KATEDRY ALGEBRY</h2>
        <p>27 - 30. BŘEZNA 2025</p>
        <p>STRÁŽNÉ, KRKONOŠE</p> -->
    </section>
</div>