<div class="navbar">
    <h1>Škola v přírodě KA</h1>

    <!-- Hamburger Checkbox -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="hamburger-icon">&#9776;</label>

    <!-- Navigation Menu -->
    <div class="menu">
        <a href="/">Úvod</a>
        <a href="/#about">O akci</a>
        <a href="/#registration">Registrace</a>
        <a href="/#organizers">Organizátoři</a>
        <a href="/#participants">Účastníci</a>
        <a href="/#photos">Fotky</a>
        <a href="/#archiv">Archiv</a>
        <a href="/en/">English</a>
    </div>    
</div>
