<div class="white" id="organizers">
    <div class="profile">
        <h1>
            {% if page.lang == "cs" %}
              Organizátoři
            {% else %}
              Organizers
            {% endif %}
          </h1>
        <div class="grid4">
            <div class="cell">
                <img src="{{- 'assets/images/Adam.png' | absolute_url -}}" alt="Adam Beneš">
                <h2>Adam Beneš</h2>
            </div>
            <div class="cell">
                <img src="{{- 'assets/images/Martin.png' | absolute_url -}}" alt="Martin Borýsek">
                <h2>Martin Borýsek</h2>
            </div>
            <div class="cell">
                <img src="{{- 'assets/images/unknown.png' | absolute_url -}}" alt="Johanka Čablíková">
                <h2>Johanka Čablíková</h2>
            </div>
            <div class="cell">
                <img src="{{- 'assets/images/Ondra.png' | absolute_url -}}" alt="Ondřej Chwiedziuk">
                <h2>Ondřej Chwiedziuk</h2>
            </div>
            <div class="cell">
                <img src="{{- 'assets/images/Gabriel.png' | absolute_url -}}" alt="Gabriel Krejčí">
                <h2>Gabriel Krejčí</h2>
            </div>
            <div class="cell">
                <img src="{{- 'assets/images/unknown.png' | absolute_url -}}" alt="Mavis Otrubů">
                <h2>Mavis Otrubů</h2>
            </div>
            <div class="cell">
                <img src="{{- 'assets/images/unknown.png' | absolute_url -}}" alt="Subham Roy">
                <h2>Subham Roy</h2>
            </div>
            <div class="cell">
                <img src="{{- 'assets/images/David.png' | absolute_url -}}" alt="David Stanovský">
                <h2>David Stanovský</h2>
            </div>
            <div class="cell">
                <img src="{{- 'assets/images/unknown.png' | absolute_url -}}" alt="Robin Visser">
                <h2>Robin Visser</h2>
            </div>
            </div>
        </div>
    </div>
</div>
