<div class="darkwhite" id="participants">
    <div class="body">
        <h1>
            {% if page.lang == "cs" %}
              Účastníci
            {% else %}
              Participants
            {% endif %}
          </h1>
        <div class="grid3">
            <div class="cell">
                <h2>
                    {% if page.lang == "cs" %}
                      Zaměstnanci KA
                    {% else %}
                      Employees of KA
                    {% endif %}
                  </h2>
                  <ul>
                    <li>
                      David Stanovský
                    </li>
                    <li>
                      Johanka Čablíková
                    </li>
                    <li>
                      Jan Bok
                    </li>
                    <li>
                      Jun Maillard
                    </li>
                    <li>
                      Subham Roy
                    </li>
                    <li>
                      Robin Visser
                    </li>
                    <li>
                      Alexey Barsukov
                    </li>
                    <li>
                      Patrick Wynne
                    </li>
                    <li>
                      Vítězslav Kala
                    </li>
                  </ul>
            </div>
            <div class="cell">
                <h2>
                    {% if page.lang == "cs" %}
                    Hosté a absolventi
                    {% else %}
                    Guests and graduates
                    {% endif %}
                  </h2>
                  <ul>
                    <li>
                      Azza Gaysin
                    </li>
                    <li>
                      Alina Yan
                    </li>
                    <li>
                      Marian Kechlibar
                    </li>
                  </ul>
            </div>
            <div class="cell">
                <h2>
                    {% if page.lang == "cs" %}
                      Studenti
                    {% else %}
                      Students
                    {% endif %}
                  </h2>
                  <ul>
                    <li>
                      Martin Borýsek
                    </li>
                    <li>
                      Ondřej Chwiedziuk
                    </li>
                    <li>
                      Gabriel Krejčí
                    </li>
                    <li>
                      Mavis Otrubů
                    </li>
                    <li>
                      Adam Beneš
                    </li>
                    <li>
                      Maryia Kapytka
                    </li>
                    <li>
                      Lukas Pieper
                    </li>
                    <li>
                      Daniel Ničík
                    </li>
                    <li>
                      Kateřina Fuková
                    </li>
                    <li>
                      Simone Pizzirani
                    </li>
                    <li>
                      Phoebe McDougall
                    </li>
                    <li>
                      Daniel Lobo
                    </li>
                    <li>
                      Marek Bláha
                    </li>
                    <li>
                      Emma Pěchoučková
                    </li>
                    <li>
                      Simona Hlavinková
                    </li>
                    <li>
                      Vojtěch David
                    </li>
                    <li>
                      Jan Růžička
                    </li>
                    <li>
                      Filip Fryš
                    </li>
                    <li>
                      Natália Bátorová
                    </li>
                    <li>
                      David Stern
                    </li>
                    <li>
                      Barbora Dohnalová
                    </li>
                    <li>
                      Adam Džavoronok
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>
