<div class="darkwhite" id="participants">
    <div class="body">
        <h1>
            {% if page.lang == "cs" %}
              Účastníci
            {% else %}
              Participants
            {% endif %}
          </h1>
        <div class="grid3">
            <div class="cell">
                <h2>
                    {% if page.lang == "cs" %}
                      Zaměstnanci KA
                    {% else %}
                      Employees of KA
                    {% endif %}
                  </h2>
                  <ul>
                    <li>
                      David Stanovský
                    </li>
                    <li>
                      Johanka Čablíková
                    </li>
                    <li>
                      Subham Roy
                    </li>
                    <li>
                      Patrick Wynne
                    </li>
                    <li>
                      Jan Bok
                    </li>
                    <li>
                      Jun Maillard
                    </li>
                    <li>
                      Ian Mertz
                    </li>
                    <li>
                      Ninad Rajgopal
                    </li>
                  </ul>
            </div>
            <div class="cell">
                <h2>
                    {% if page.lang == "cs" %}
                    Hosté a absolventi
                    {% else %}
                    Guests and graduates
                    {% endif %}
                  </h2>
                  <ul>
                    <li>
                      Marian Kechlibar
                    </li>
                    <li>
                      Filip Filipi
                    </li>
                    <li>
                      Alina Yan
                    </li>
                    <li>
                      Alexandr Kazda
                    </li>
                    <li>
                      Matěj Doležálek
                    </li>
                  </ul>
            </div>
            <div class="cell">
                <h2>
                    {% if page.lang == "cs" %}
                      Studenti
                    {% else %}
                      Students
                    {% endif %}
                  </h2>
                  <ul>
                    <li>
                      Ondřej Chwiedziuk
                    </li>
                    <li>
                      Gabriel Krejčí
                    </li>
                    <li>
                      Mavis Otrubová
                    </li>
                    <li>
                      Adam Beneš
                    </li>
                    <li>
                      Filip Fryš
                    </li>
                    <li>
                      Maryia Kapytka
                    </li>
                    <li>
                      Martin Borýsek
                    </li>
                    <li>
                      Simona Fryšová
                    </li>
                    <li>
                      Maximilian Hadek
                    </li>
                    <li>
                      Yağmur Sak
                    </li>
                    <li>
                      Lukas Pieper
                    </li>
                    <li>
                      Vojtěch David
                    </li>
                    <li>
                      Emma Pěchoučková
                    </li>
                    <li>
                      Marek Bláha
                    </li>
                    <li>
                      Jakub Knesel
                    </li>
                    <li>
                      Ondřej Macháč
                    </li>
                    <li>
                      Tomáš Hebelka
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>
