<div class="white" id="photos">
    <div class="profile">
        <h1>Legendární fotky z minulých ročníků</h1>
        <div class="grid6">
        {% for file in site.static_files %}
            {% if file.path contains 'legendary/thumbs' %}
                <div class="cell">
                    <a href="{{ file.path | replace: 'thumbs', 'photos' }}">
                        <img src="{{ file.path }}" title="{{ file.name }}" alt="{{ file.name }}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <br>
    </div>
</div>
