<div class="darkwhite" id="registration">
    <div class="body">
        <h1>Registrace</h1>
        <div class="grid2">
            <div class="cell">
                <h2>Jak se registrovat</h2>
                <p>
                    Registrace probíhá formou mailu. Na <a href="mailto:skolavprirode@karlin.mff.cuni.cz">skolavprirode@karlin.mff.cuni.cz</a> nám pošlete následující informace:
                </p>
                <ul>
                    <li>Jméno a příjmení</li>
                    <li>Ročník, obor</li>
                    <li>email</li>
                    <li>Speciální stravovací požadavky</li>
                    <li>Pokud jsem doktorand, chci přednášet? (Studenti bakalářského a magisterského studia přednáší povinně.)</li>
                    <li>Chci přednášet na vlastní téma?</li>
                    <li>Přednášet anglicky mi vadí/nevadí</li>
                    <li>Chci 25/40 min na přednášku (+5 min diskuse)? (Preferujeme a doporučujeme 25 min.)</li>
                    <li>Očekávaný příjezd a odjezd.</li>
                </ul>
                <p>
                    Registrační poplatek činí <b>700 Kč</b>, v ceně je nocleh i strava (počínaje čtvrtečním obědem a nedělní snídaní konče). Podrobnosti o platbě přijdou v potvrzovacím mailu.
                </p>
                <p>
                    Přihlášku je třeba odeslat nejpozději v pondělí <b>28. února</b>.
                </p>
                <p>
                    Škola v přírodě je finančně podporována z projektu SVV a z příspěvků nadace RSJ.
                </p>
            </div>
            <div class="cell">
                <div class="gif">
                    <img src="assets/images/David-cut.webp" alt="David na skluzavce" class="gif">
                </div>
            </div>
        </div>
    </div>
</div>