.navbar {
    font-family: Helvetica;
    background-image: linear-gradient(#f8f9fa 48px, salmon 48px, salmon 50px);
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar a {
    float: right;
    display: block;
    color: #333;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
}

.navbar a:hover {
    color: salmon;
}

.navbar h1 {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 10px 15px; /* Remove top and bottom padding */
    text-decoration: none;
    font-size: 25px;
    margin: 0;
}

.frontpage {
    position: relative;
    height: calc(100vh - 50px);
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
}

.banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.front-text {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    color:#f8f9fa;
    font-family: Helvetica;
    padding-left: 20px;
    padding-top: 20px;
    z-index: 5;
}

.front-text p {
    margin: 0;
    padding: 0;
    font-size: 60px;
}

.front-text h1 {
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-weight: bold;
}

.front-text h2 {
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-weight: normal;
}

.clear {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.body {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    font-family: Helvetica;
    padding-bottom: 10px;
}

.body img {
    display: block;
    margin: 0 auto;
    height: 60px;
    padding: 10px;
    width: auto;
}

.body h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.body h2 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.body p {
    display: block;
    text-align: justify;
    font-size: 20px;
}

.body a {
    color: salmon;
    text-decoration: none;
}

.body a:hover {
    color: crimson;
}

.body b {
    font-weight: bolder;
    color: #f8f9fa;
    background: salmon;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 0 5px;
}

.body b:hover {
    background: crimson;
}

.body ul {
    list-style-type: circle;
    padding: 10px;
    padding-left: 18px;
}

.body li {
    padding: 2px;
    font-size: 20px;
}

.footer {
    text-align: center;
    width: 100%;
    font-family: Helvetica;
    background-color: #333;
    color: #f8f9fa;
    margin-top: -20px;
}

.footer a {
    color: salmon;
    text-decoration: none;
}

.footer a:hover {
    color: crimson;
}

.footer p {
    margin: 0;
    padding: 5px;
    font-size: 10px;
}

.footer h1 {
    margin: 0;
    padding: 5px;
    font-size: 15px;
}

.profile {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    font-family: Helvetica;
}

.profile img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 150px;
}

.profile h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.profile h2 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.black {
    width: 100%;
    background-color: #333;
    color: #f8f9fa;
}

.white {
    width: 100%;
    background-color: #f8f9fa;
    color: #333;
}

.leaves {
    width: 100%;
    background-image: url(../images/leaves.png);
    background-repeat: repeat;
    background-size: 300px;
    color: #f8f9fa;
}

.box {
    background-color: #f8f9fa;
    color:#333;
    opacity: 0.7;
    padding: 20px;
}

.darkwhite {
    background-color: #f0f1f2;
    color: #333;
}

.gif img {
    padding: 10px;
    width: 80%;
    height: auto;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.cell {
    padding: 10px;
    /*
    all cells in row has same height
    */
    flex-direction: column;
    justify-content: space-between;
}