<!DOCTYPE html>
<html lang="cs">
	<head>
		<title>{{- page.title | default: site.title -}}</title>
		<meta charset="utf-8">
		<meta name="description" content="Škola v přírodě je tradiční výjezdní seminář určený nejen pro studenty Katedry algebry MFF UK.">
		<meta name="author" content="Ondřej Chwiedziuk and Jan Černý">
		<meta name="copyright" content="Copyright 2025 Ondřej Chwiedziuk and Jan Černý. All rights reserved.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="keywords" content="matfyz, math, algebra, mff, cuni, conference">
		<meta name="og:title" property="og:title" content="{{- page.title | default: site.title -}}">
		<meta property="og:url" content="{{- page.url | absolute_url -}}">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="{{- site.title -}}">
		<meta property="og:description" content="Škola v přírodě je tradiční výjezdní seminář určený nejen pro studenty Katedry algebry MFF UK.">
		<meta name="twitter:domain" property="twitter:domain" content="{{- site.url -}}">
		<meta name="twitter:description" property="twitter:description" content="Škola v přírodě je tradiční výjezdní seminář určený nejen pro studenty Katedry algebry MFF UK.">
		<link rel="stylesheet" href="{{- 'assets/css/style.css' | relative_url -}}">
		<link rel="stylesheet" href="{{- '/assets/katex/katex.min.css' | relative_url -}}">
	</head>
	<body class="clear">
		<header>
			{% include navbar.html %}
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>
